* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #E5E5E5;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}